@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-plus-jakarta-sans), sans-serif;
  --font-serif: var(--font-source-serif-4), serif;

  --color-linen-cream: #e4e9dc;
  --color-parchment: #efefe7;
  --color-paper-white: #ffffff;
  --color-carbon: #020202;
  --color-obsidian: #131313;
  --color-forest-command: #2d9b4c;
  --color-mint-boarding-pass: #c3eeb4;

  --color-primary: #72dc85;
  --color-primary-container: #38a454;
  --color-on-primary: #003914;
  --color-secondary-fixed: #c3eeb4;
  --color-on-secondary-fixed: #002200;
  --color-on-secondary-fixed-variant: #2b4f24;

  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
}

:root {
  --background: #131313;
  --foreground: #e2e2e2;
  --card: #1f1f1f;
  --card-foreground: #e2e2e2;
  --primary: #72dc85;
  --primary-foreground: #003914;
  --border: rgba(255, 255, 255, 0.1);
  --radius: 0.625rem;
}

.dark {
  --background: #131313;
  --foreground: #e2e2e2;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}